/* Icomoon */
@font-face {
    font-family: 'icomoon';
    src: url('../../front/fonts/icomoon.eot?rgd0st');
    src: url('../../front/fonts/icomoon.eot?rgd0st#iefix') format('embedded-opentype'),
    url('../../front/fonts/icomoon.ttf?rgd0st') format('truetype'),
    url('../../front/fonts/icomoon.woff?rgd0st') format('woff'),
    url('../../front/fonts/icomoon.svg?rgd0st#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera2:before {
    content: "\e927";
}

.icon-crown:before {
    content: "\e923";
}

.icon-doc:before {
    content: "\e922";
}

.icon-box:before {
    content: "\e92a";
}

.icon-calendar:before {
    content: "\e929";
}

.icon-vector2:before {
    content: "\e928";
}

.icon-brush:before {
    content: "\e926";
}

.icon-envelope:before {
    content: "\e925";
}

.icon-checked:before {
    content: "\e924";
}

.icon-badge:before {
    content: "\e91b";
}

.icon-circle:before {
    content: "\e921";
}

.icon-folder:before {
    content: "\e91d";
}

.icon-dash-earnings:before {
    content: "\e913";
}

.icon-dash-gift:before {
    content: "\e914";
}

.icon-dash-home:before {
    content: "\e915";
}

.icon-dash-list:before {
    content: "\e916";
}

.icon-dash-off:before {
    content: "\e917";
}

.icon-dash-pencil:before {
    content: "\e918";
}

.icon-dash-user:before {
    content: "\e919";
}

.icon-view:before {
    content: "\e920";
}

.icon-flag:before {
    content: "\e911";
}

.icon-like:before {
    content: "\e91a";
}

.icon-basket:before {
    content: "\e912";
}

.icon-download-index:before {
    content: "\e91c";
}

.icon-picture:before {
    content: "\e910";
}

.icon-angle-down:before {
    content: "\e90e";
}

.icon-angle-up:before {
    content: "\e90f";
}

.icon-vector:before {
    content: "\e90d";
}

.icon-graphic-tools:before {
    content: "\e90c";
}

.icon-camera:before {
    content: "\e90b";
}

.icon-arrow-left:before {
    content: "\e91e";
}

.icon-arrow-right:before {
    content: "\e91f";
}

.icon-down:before {
    content: "\e907";
}

.icon-left:before {
    content: "\e908";
}

.icon-right:before {
    content: "\e909";
}

.icon-up:before {
    content: "\e90a";
}

.icon-icon--black:before {
    content: "\e901";
}

.icon-instagram:before {
    content: "\e902";
}

.icon-twitter:before {
    content: "\e903";
}

.icon-user:before {
    content: "\e904";
}

.icon-userplus:before {
    content: "\e905";
}

.icon-user2:before {
    content: "\e906";
}

.icon-bubbles3:before {
    content: "\e96f";
}

.icon-user1:before {
    content: "\e971";
}

.icon-search:before {
    content: "\e986";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-shopping-basket:before {
    content: "\e900";
}


/* end icomoons */
